In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sb
from scipy.stats import pearsonr

In [2]:
df = pd.read_csv(r"C:\Users\Admin\Downloads\general_data.csv").T
print(df)

                                              0                       1     \
Age                                             51                      31
Attrition                                       No                     Yes
BusinessTravel                       Travel_Rarely       Travel_Frequently
Department                                   Sales  Research & Development
DistanceFromHome                                 6                      10
Education                                        2                       1
EducationField                       Life Sciences           Life Sciences
EmployeeCount                                    1                       1
EmployeeID                                       1                       2
Gender                                      Female                  Female
JobLevel                                         1                       1
JobRole                  Healthcare Representative      Research Scientist
MaritalStatus                              Married                  Single
MonthlyIncome                               131160                   41890
NumCompaniesWorked                               1                       0
Over18                                           Y                       Y
PercentSalaryHike                               11                      23
StandardHours                                    8                       8
StockOptionLevel                                 0                       1
TotalWorkingYears                                1                       6
TrainingTimesLastYear                            6                       3
YearsAtCompany                                   1                       5
YearsSinceLastPromotion                          0                       1
YearsWithCurrManager                             0                       4

                                           2                       3     \
Age                                          32                      38
Attrition                                    No                      No
BusinessTravel                Travel_Frequently              Non-Travel
Department               Research & Development  Research & Development
DistanceFromHome                             17                       2
Education                                     4                       5
EducationField                            Other           Life Sciences
EmployeeCount                                 1                       1
EmployeeID                                    3                       4
Gender                                     Male                    Male
JobLevel                                      4                       3
JobRole                         Sales Executive         Human Resources
MaritalStatus                           Married                 Married
MonthlyIncome                            193280                   83210
NumCompaniesWorked                            1                       3
Over18                                        Y                       Y
PercentSalaryHike                            15                      11
StandardHours                                 8                       8
StockOptionLevel                              3                       3
TotalWorkingYears                             5                      13
TrainingTimesLastYear                         2                       5
YearsAtCompany                                5                       8
YearsSinceLastPromotion                       0                       7
YearsWithCurrManager                          3                       5

                                           4                       5     \
Age                                          32                      46
Attrition                                    No                      No
BusinessTravel                    Travel_Rarely           Travel_Rarely
Department               Research & Development  Research & Development
DistanceFromHome                             10                       8
Education                                     1                       3
EducationField                          Medical           Life Sciences
EmployeeCount                                 1                       1
EmployeeID                                    5                       6
Gender                                     Male                  Female
JobLevel                                      1                       4
JobRole                         Sales Executive       Research Director
MaritalStatus                            Single                 Married
MonthlyIncome                             23420                   40710
NumCompaniesWorked                            4                       3
Over18                                        Y                       Y
PercentSalaryHike                            12                      13
StandardHours                                 8                       8
StockOptionLevel                              2                       0
TotalWorkingYears                             9                      28
TrainingTimesLastYear                         2                       5
YearsAtCompany                                6                       7
YearsSinceLastPromotion                       0                       7
YearsWithCurrManager                          4                       7

                                           6                       7     \
Age                                          28                      29
Attrition                                   Yes                      No
BusinessTravel                    Travel_Rarely           Travel_Rarely
Department               Research & Development  Research & Development
DistanceFromHome                             11                      18
Education                                     2                       3
EducationField                          Medical           Life Sciences
EmployeeCount                                 1                       1
EmployeeID                                    7                       8
Gender                                     Male                    Male
JobLevel                                      2                       2
JobRole                         Sales Executive         Sales Executive
MaritalStatus                            Single                 Married
MonthlyIncome                             58130                   31430
NumCompaniesWorked                            2                       2
Over18                                        Y                       Y
PercentSalaryHike                            20                      22
StandardHours                                 8                       8
StockOptionLevel                              1                       3
TotalWorkingYears                             5                      10
TrainingTimesLastYear                         2                       2
YearsAtCompany                                0                       0
YearsSinceLastPromotion                       0                       0
YearsWithCurrManager                          0                       0

                                           8                       9     ...  \
Age                                          31                      25  ...
Attrition                                    No                      No  ...
BusinessTravel                    Travel_Rarely              Non-Travel  ...
Department               Research & Development  Research & Development  ...
DistanceFromHome                              1                       7  ...
Education                                     3                       4  ...
EducationField                    Life Sciences                 Medical  ...
EmployeeCount                                 1                       1  ...
EmployeeID                                    9                      10  ...
Gender                                     Male                  Female  ...
JobLevel                                      3                       4  ...
JobRole                   Laboratory Technician   Laboratory Technician  ...
MaritalStatus                           Married                Divorced  ...
MonthlyIncome                             20440                  134640  ...
NumCompaniesWorked                            0                       1  ...
Over18                                        Y                       Y  ...
PercentSalaryHike                            21                      13  ...
StandardHours                                 8                       8  ...
StockOptionLevel                              0                       1  ...
TotalWorkingYears                            10                       6  ...
TrainingTimesLastYear                         2                       2  ...
YearsAtCompany                                9                       6  ...
YearsSinceLastPromotion                       7                       1  ...
YearsWithCurrManager                          8                       5  ...

                                           4400                4401  \
Age                                          37                  45
Attrition                                    No                  No
BusinessTravel                    Travel_Rarely   Travel_Frequently
Department               Research & Development               Sales
DistanceFromHome                             22                  21
Education                                     5                   1
EducationField                          Medical           Marketing
EmployeeCount                                 1                   1
EmployeeID                                 4401                4402
Gender                                   Female                Male
JobLevel                                      2                   3
JobRole                  Manufacturing Director  Research Scientist
MaritalStatus                           Married             Married
MonthlyIncome                             30550               22890
NumCompaniesWorked                            2                   4
Over18                                        Y                   Y
PercentSalaryHike                            14                  13
StandardHours                                 8                   8
StockOptionLevel                              3                   0
TotalWorkingYears                            17                   9
TrainingTimesLastYear                         3                   3
YearsAtCompany                                3                   3
YearsSinceLastPromotion                       0                   0
YearsWithCurrManager                          2                   2

                                          4402                    4403  \
Age                                         37                      39
Attrition                                  Yes                      No
BusinessTravel               Travel_Frequently       Travel_Frequently
Department                               Sales  Research & Development
DistanceFromHome                             2                      22
Education                                    3                       3
EducationField                       Marketing                 Medical
EmployeeCount                                1                       1
EmployeeID                                4403                    4404
Gender                                    Male                  Female
JobLevel                                     1                       1
JobRole                  Laboratory Technician  Manufacturing Director
MaritalStatus                         Divorced                  Single
MonthlyIncome                            40010                  129650
NumCompaniesWorked                           6                       0
Over18                                       Y                       Y
PercentSalaryHike                           11                      19
StandardHours                                8                       8
StockOptionLevel                             1                       1
TotalWorkingYears                           17                      20
TrainingTimesLastYear                        2                       2
YearsAtCompany                               1                      19
YearsSinceLastPromotion                      0                      11
YearsWithCurrManager                         0                       8

                                    4404                    4405  \
Age                                   29                      42
Attrition                             No                      No
BusinessTravel             Travel_Rarely           Travel_Rarely
Department                         Sales  Research & Development
DistanceFromHome                       4                       5
Education                              3                       4
EducationField                     Other                 Medical
EmployeeCount                          1                       1
EmployeeID                          4405                    4406
Gender                            Female                  Female
JobLevel                               2                       1
JobRole                  Human Resources      Research Scientist
MaritalStatus                     Single                  Single
MonthlyIncome                      35390                   60290
NumCompaniesWorked                     1                       3
Over18                                 Y                       Y
PercentSalaryHike                     18                      17
StandardHours                          8                       8
StockOptionLevel                       0                       1
TotalWorkingYears                      6                      10
TrainingTimesLastYear                  2                       5
YearsAtCompany                         6                       3
YearsSinceLastPromotion                1                       0
YearsWithCurrManager                   5                       2

                                           4406                    4407  \
Age                                          29                      25
Attrition                                    No                      No
BusinessTravel                    Travel_Rarely           Travel_Rarely
Department               Research & Development  Research & Development
DistanceFromHome                              2                      25
Education                                     4                       2
EducationField                          Medical           Life Sciences
EmployeeCount                                 1                       1
EmployeeID                                 4407                    4408
Gender                                     Male                    Male
JobLevel                                      1                       2
JobRole                   Laboratory Technician         Sales Executive
MaritalStatus                          Divorced                 Married
MonthlyIncome                             26790                   37020
NumCompaniesWorked                            2                       0
Over18                                        Y                       Y
PercentSalaryHike                            15                      20
StandardHours                                 8                       8
StockOptionLevel                              0                       0
TotalWorkingYears                            10                       5
TrainingTimesLastYear                         2                       4
YearsAtCompany                                3                       4
YearsSinceLastPromotion                       0                       1
YearsWithCurrManager                          2                       2

                                          4408                    4409
Age                                         42                      40
Attrition                                   No                      No
BusinessTravel                   Travel_Rarely           Travel_Rarely
Department                               Sales  Research & Development
DistanceFromHome                            18                      28
Education                                    2                       3
EducationField                         Medical                 Medical
EmployeeCount                                1                       1
EmployeeID                                4409                    4410
Gender                                    Male                    Male
JobLevel                                     1                       2
JobRole                  Laboratory Technician   Laboratory Technician
MaritalStatus                         Divorced                Divorced
MonthlyIncome                            23980                   54680
NumCompaniesWorked                           0                       0
Over18                                       Y                       Y
PercentSalaryHike                           14                      12
StandardHours                                8                       8
StockOptionLevel                             1                       0
TotalWorkingYears                           10                     NaN
TrainingTimesLastYear                        2                       6
YearsAtCompany                               9                      21
YearsSinceLastPromotion                      7                       3
YearsWithCurrManager                         8                       9

[24 rows x 4410 columns]

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,4400,4401,4402,4403,4404,4405,4406,4407,4408,4409
Age,51,31,32,38,32,46,28,29,31,25,...,37,45,37,39,29,42,29,25,42,40
Attrition,No,Yes,No,No,No,No,Yes,No,No,No,...,No,No,Yes,No,No,No,No,No,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Frequently,Non-Travel,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,...,Travel_Rarely,Travel_Frequently,Travel_Frequently,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,...,Research & Development,Sales,Sales,Research & Development,Sales,Research & Development,Research & Development,Research & Development,Sales,Research & Development
DistanceFromHome,6,10,17,2,10,8,11,18,1,7,...,22,21,2,22,4,5,2,25,18,28

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, Age to YearsWithCurrManager
Columns: 4410 entries, 0 to 4409
dtypes: object(4410)
memory usage: 413.5+ KB

In [5]:
df.isnull()

,0,1,2,3,4,5,6,7,8,9,...,4400,4401,4402,4403,4404,4405,4406,4407,4408,4409
Age,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Attrition,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
BusinessTravel,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Department,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
DistanceFromHome,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Education,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
EducationField,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
EmployeeCount,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
EmployeeID,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Gender,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
JobLevel,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
JobRole,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
MaritalStatus,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
MonthlyIncome,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
NumCompaniesWorked,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Over18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
PercentSalaryHike,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
StandardHours,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
StockOptionLevel,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
TotalWorkingYears,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
TrainingTimesLastYear,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
YearsAtCompany,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
YearsSinceLastPromotion,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
YearsWithCurrManager,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
df.dropna()

,0,1,2,3,4,5,6,7,8,9,...,4400,4401,4402,4403,4404,4405,4406,4407,4408,4409
Age,51,31,32,38,32,46,28,29,31,25,...,37,45,37,39,29,42,29,25,42,40
Attrition,No,Yes,No,No,No,No,Yes,No,No,No,...,No,No,Yes,No,No,No,No,No,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Frequently,Non-Travel,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,...,Travel_Rarely,Travel_Frequently,Travel_Frequently,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,...,Research & Development,Sales,Sales,Research & Development,Sales,Research & Development,Research & Development,Research & Development,Sales,Research & Development
DistanceFromHome,6,10,17,2,10,8,11,18,1,7,...,22,21,2,22,4,5,2,25,18,28
Education,2,1,4,5,1,3,2,3,3,4,...,5,1,3,3,3,4,4,2,2,3
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical,Life Sciences,Medical,Life Sciences,Life Sciences,Medical,...,Medical,Marketing,Marketing,Medical,Other,Medical,Medical,Life Sciences,Medical,Medical
EmployeeCount,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
EmployeeID,1,2,3,4,5,6,7,8,9,10,...,4401,4402,4403,4404,4405,4406,4407,4408,4409,4410
Gender,Female,Female,Male,Male,Male,Female,Male,Male,Male,Female,...,Female,Male,Male,Female,Female,Female,Male,Male,Male,Male
JobLevel,1,1,4,3,1,4,2,2,3,4,...,2,3,1,1,2,1,1,2,1,2
JobRole,Healthcare Representative,Research Scientist,Sales Executive,Human Resources,Sales Executive,Research Director,Sales Executive,Sales Executive,Laboratory Technician,Laboratory Technician,...,Manufacturing Director,Research Scientist,Laboratory Technician,Manufacturing Director,Human Resources,Research Scientist,Laboratory Technician,Sales Executive,Laboratory Technician,Laboratory Technician
MaritalStatus,Married,Single,Married,Married,Single,Married,Single,Married,Married,Divorced,...,Married,Married,Divorced,Single,Single,Single,Divorced,Married,Divorced,Divorced
MonthlyIncome,131160,41890,193280,83210,23420,40710,58130,31430,20440,134640,...,30550,22890,40010,129650,35390,60290,26790,37020,23980,54680
Over18,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
PercentSalaryHike,11,23,15,11,12,13,20,22,21,13,...,14,13,11,19,18,17,15,20,14,12
StandardHours,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
StockOptionLevel,0,1,3,3,2,0,1,3,0,1,...,3,0,1,1,0,1,0,0,1,0
TrainingTimesLastYear,6,3,2,5,2,5,2,2,2,2,...,3,3,2,2,2,5,2,4,2,6
YearsAtCompany,1,5,5,8,6,7,0,0,9,6,...,3,3,1,19,6,3,3,4,9,21
YearsSinceLastPromotion,0,1,0,7,0,7,0,0,7,1,...,0,0,0,11,1,0,0,1,7,3
YearsWithCurrManager,0,4,3,5,4,7,0,0,8,5,...,2,2,0,8,5,2,2,2,8,9

In [8]:
df.duplicated()

Age                        False
Attrition                  False
BusinessTravel             False
Department                 False
DistanceFromHome           False
Education                  False
EducationField             False
EmployeeCount              False
EmployeeID                 False
Gender                     False
JobLevel                   False
JobRole                    False
MaritalStatus              False
MonthlyIncome              False
NumCompaniesWorked         False
Over18                     False
PercentSalaryHike          False
StandardHours              False
StockOptionLevel           False
TotalWorkingYears          False
TrainingTimesLastYear      False
YearsAtCompany             False
YearsSinceLastPromotion    False
YearsWithCurrManager       False
dtype: bool

In [9]:
df.drop_duplicates()

,0,1,2,3,4,5,6,7,8,9,...,4400,4401,4402,4403,4404,4405,4406,4407,4408,4409
Age,51,31,32,38,32,46,28,29,31,25,...,37,45,37,39,29,42,29,25,42,40
Attrition,No,Yes,No,No,No,No,Yes,No,No,No,...,No,No,Yes,No,No,No,No,No,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Frequently,Non-Travel,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,...,Travel_Rarely,Travel_Frequently,Travel_Frequently,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,...,Research & Development,Sales,Sales,Research & Development,Sales,Research & Development,Research & Development,Research & Development,Sales,Research & Development
DistanceFromHome,6,10,17,2,10,8,11,18,1,7,...,22,21,2,22,4,5,2,25,18,28
Education,2,1,4,5,1,3,2,3,3,4,...,5,1,3,3,3,4,4,2,2,3
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical,Life Sciences,Medical,Life Sciences,Life Sciences,Medical,...,Medical,Marketing,Marketing,Medical,Other,Medical,Medical,Life Sciences,Medical,Medical
EmployeeCount,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
EmployeeID,1,2,3,4,5,6,7,8,9,10,...,4401,4402,4403,4404,4405,4406,4407,4408,4409,4410
Gender,Female,Female,Male,Male,Male,Female,Male,Male,Male,Female,...,Female,Male,Male,Female,Female,Female,Male,Male,Male,Male
JobLevel,1,1,4,3,1,4,2,2,3,4,...,2,3,1,1,2,1,1,2,1,2
JobRole,Healthcare Representative,Research Scientist,Sales Executive,Human Resources,Sales Executive,Research Director,Sales Executive,Sales Executive,Laboratory Technician,Laboratory Technician,...,Manufacturing Director,Research Scientist,Laboratory Technician,Manufacturing Director,Human Resources,Research Scientist,Laboratory Technician,Sales Executive,Laboratory Technician,Laboratory Technician
MaritalStatus,Married,Single,Married,Married,Single,Married,Single,Married,Married,Divorced,...,Married,Married,Divorced,Single,Single,Single,Divorced,Married,Divorced,Divorced
MonthlyIncome,131160,41890,193280,83210,23420,40710,58130,31430,20440,134640,...,30550,22890,40010,129650,35390,60290,26790,37020,23980,54680
NumCompaniesWorked,1,0,1,3,4,3,2,2,0,1,...,2,4,6,0,1,3,2,0,0,0
Over18,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
PercentSalaryHike,11,23,15,11,12,13,20,22,21,13,...,14,13,11,19,18,17,15,20,14,12
StandardHours,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
StockOptionLevel,0,1,3,3,2,0,1,3,0,1,...,3,0,1,1,0,1,0,0,1,0
TotalWorkingYears,1,6,5,13,9,28,5,10,10,6,...,17,9,17,20,6,10,10,5,10,NaN
TrainingTimesLastYear,6,3,2,5,2,5,2,2,2,2,...,3,3,2,2,2,5,2,4,2,6
YearsAtCompany,1,5,5,8,6,7,0,0,9,6,...,3,3,1,19,6,3,3,4,9,21
YearsSinceLastPromotion,0,1,0,7,0,7,0,0,7,1,...,0,0,0,11,1,0,0,1,7,3
YearsWithCurrManager,0,4,3,5,4,7,0,0,8,5,...,2,2,0,8,5,2,2,2,8,9

In [14]:
df.corr()

Empty DataFrame
Columns: []
Index: []